.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.modal-title {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0;
}

.create-event-description-label {
    margin-top: 15px;
    font-size: 20px;
}

.modal-buttons {
    text-align: center;
    background-color: #FFFFFF;
    font-size: 21px;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 9px 8px 19px -13px rgba(0, 0, 0, 0.8);
    padding: 5px 20px;
    width: 110px;
    height: 40px;
}

.modal-buttons:hover {
    background-color: rgb(159, 146, 146, 0.2);
    color: white;
}

.no {
    margin-right: 25px;
    margin-bottom: 15px;
}

.modal-footer {
    text-align: center;
    margin-top: 15px;
}

.create-event-info {
    display: grid;
    margin-left: 60px;
    margin-right: 60px;
}


.modal-vape-h4 {
    font-size: 23px;
    font-weight: 750;
    color: #161618;
    width: 255px;
    margin-right: 0px;
    margin-left: 165px;
    padding-right: 15px;
    text-align: center;
}

.modal-vape-h2 {
    font-size: 34px;
    font-weight: 750;
    color: #161618;
    padding-bottom: 0px;
    width: 255px;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 165px;
    padding-right: 15px;
    text-align: center;
}

.del {
    width: 20px;
    height: 30px;
    background: none;
    border: none;
    padding-left: 8px;
}

.desc {
    background-color: rgb(247, 230, 214);
    border-radius: 6px;
    padding: 6px;
}

.fa-sharp, fa-solid, fa-trash-can {
    font-size: 20px;
}

.modal-buttons {
    margin-bottom: 10px;
}