@import "header.css";
@import "calendar.css";
@import "weekDays.css";
@import "days.css";
@import "dayTemp.css";
@import "modal.css";
@import "notFound.css";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}
